#detail {
    padding: 0;
    background-color:#F1F2F3;
}

#Content-1 {
    margin: 0 20px;
    height: 100px;
    background-color: white;    
    border-radius: 1rem;
}

.sign {
    text-align: right;
    font-size: 16px;
    margin: 0 15px;
    font-weight: 400;
}

.db {
    position:relative;
    height: 30px;
    padding-left: 20px;
}

.d1 {
    position: absolute;
    bottom: 20px;
}

.d2 {
    position: absolute;
    bottom: -5px;
}

.welcome {
    font-size: 16px;
    font-weight: 350;
    width: auto;
    height: 20px;
    display: block;
    padding-top: 5px;
    color: black;
}
.user-name {
    margin-right: 10px;
    color: black;
}

.title-header{
    margin: 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

